.about-area{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.about{
    width: 30rem;
    height: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.2);
}